@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

:root {
    --blue: #0079d3;
}

* {
    font-family: 'Noto Sans', sans-serif;
}

body{
    margin: 0px;
    background-color: #dbe0e7;
}

.user {
    color: #818181;
}

.post {
    display: flex;
    margin-top: 13px;
}

.upvote--arrow {
    font-size: 25px;
    color: #979797;
}

.post--upvotes {
    margin: 7px 0px;
}

.post--comments {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #686868;
    padding: 0px 10px;
    margin: 8px 0px;
}

.comment-num {
    font-size: 12px;
    font-weight: 600;
}

.ph-chat-centered {
    font-size: 23px;
}

.arrow2 {
    transform: rotate(180deg);
}

.top--section {
    padding: 0px 13px;
}

.top--section .post--title {
    font-weight: 600;
    margin: 0px 0px 10px 0px;
}

.upvotes {
    width: 40px;
    background-color: #f9f8fa;
    border-radius: 6px 0px 0px 6px;
    display: flex;
    align-items: center;
    font-size: 11px;
    font-weight: 600;
    flex-direction: column;
    padding: 12px 0px;
}

.post--content {
    width: 598px;
    background-color: white;
    border: 1px solid #edeff1;
    border-radius: 0px 6px 6px 0px;
}

.post--image {
    width: inherit;
}

.post--details {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 12px;
}

.homepage--container {
    width: 52%;
    margin: 40px auto;
}

.homepage--content {
    display: flex;
    width: 100%;
}

.top--subreddit img,
.top--subreddit svg{
    width: 30px;
    height: 30px;
    border-radius: 50px;
    border: none;
}

.loading {
    margin: 45vh auto;
}

.top--subreddit p{
    font-size: 14px;
}

.top--subreddits {
    width: 330px;
    height: 328px;
    background-color: white;
    border-radius: 6px;
    margin: 15px 0px 0px 15px;
}

.top--subreddits .banner{
    width: 100%;
    height: 80px;
    border-radius: 6px 6px 0px 0px;
    object-fit: cover;
}

.top--details {
    display: flex;
    align-items: center;
    gap: 10px;
}

.join--button {
    width: 56px;
    height: 24px;
    background-color: #0079d3;
    color: white;
    border: 0px;
    border-radius: 15px;
    font-weight: 600;
}

.top--subreddit {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 15px;
}

.top--subreddit:not(:last-child) {
    border-bottom: 1px solid #eceef1;
}

.default--icon {
    filter: invert(45%) sepia(71%) saturate(5429%) hue-rotate(188deg) brightness(88%) contrast(101%);
}

.results{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 7px;
}

.search--results{
    background-color: white;
    width: 618px;
    padding: 0px 15px;
    border-radius: 0px 0px 10px 10px;
    position: absolute;
    right: 750px;
}

.search--results p{
    font-size: 14px;
    display: flex;
    flex-direction: column;
    margin: 3px 0px;
}

.search--results p:last-child{
    font-size: 12px;
}

.search--results img, 
.search--results svg{
    width: 24px;
    height: 24px;
    border-radius: 50px;
    border: none;
}

.navbar {
    padding: 0px 20px;
    display: flex;
    align-items: center;
    height: 48px;
    background-color: white;
    justify-content: space-between;
}

.navbar--logo {
    width: 117px;
    height: 48px;
}

.navbar--logo img{
    width: 87px;
}

.navbar--search input {
    width: 656px;
    height: 40px;
    border-radius: 50px;
    background-color: #f7f6f8;
    border: 1px solid #edeff1;
    padding: 0px 45px;
}

.navbar--search input:hover,
.navbar--search input:focus {
    background-color: white;
    border: 1px solid var(--blue);
    outline: none;
}

.navbar--search input:hover > .search--results{
    display: none;
}

.navbar--search i { 
    font-size: 23px;
    position: absolute;
    top: 12px;
    left: 535px;
    color: #8e8c93;
}

.navbar--buttons button {
    width: 120px;
    height: 32px;
    border-radius: 50px;
    cursor: pointer;
}

.navbar--buttons .signup {
    background-color: transparent;
    border: 1px solid var(--blue);
    color: var(--blue);
    font-weight: 600;
}

.navbar--buttons .login {
    background-color: var(--blue);
    border: none;
    color: white;
    font-weight: 600;
}

.navbar--buttons .ph-user{
    font-size: 23px;
}

.ph-caret-down {
    font-size: 16px;
}

.ph-user {
    width: 70px;
    height: 32px;
    justify-content: center;
    align-items: center;
    color: #8e8c93;
}

.ph-user:hover {
    border: 1px solid #edeff1;
    border-radius: 5px;
}

.ph-user i {
    align-self: center;
}

.navbar--buttons{
    display: flex;
    align-items: center;
    gap: 15px;
}

.trending {
    width: 218px;
    height: 185px;
    background-size: cover;
    border-radius: 8px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 0px 10px;
}

.trending p{
    margin: 4px;
}

.trending p:last-child{
    font-size: 13px;
}

.trending--posts {
    display: flex;
    gap: 13px;
}